/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* nav {
  background-color: #190b56;
  padding: 7px 0px 0px 0px;
  position: sticky;
  top: 0;
} */

/* .logo {
  display: inline-block;
  width: 30%;
  font-size: 25px;
  color: #fff;
  padding-left: 50px;
  padding-top: 5px;
} */

/* span {
  font-size: 30px;
  color: blue;
} */

  /* button {
    display: inline-block;
    width: 150px;
    height: 40px;
    color: #190b56;
    border: solid black;
    border-radius: 5px;
    background: #fff;
    margin-left: 50%;
    margin-bottom: 10px;
  } */

/* ul {
  display: inline-block;
  list-style-type: none;
  width: 65%;
  color: #fff;
  text-align: right;
}

ul li {
  display: inline-block;
  padding-bottom: 12px;
}

ul li a {
  color: #fff;
  padding: 0 24px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

/* .bg-hover:active {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
} */
/* 
ul li a:hover {
  color: #6a6af1;
}  */
